/* Hero 
.defaultHero,
.roomsHero {
  min-height: calc(100vh - 66px);
  background: url("./images/defaultBcg.jpeg") center/cover no-repeat;
  display: flex;
  align-items: center;
  justify-content: center;
}
.roomsHero {
  background-image: url("./images/room-2.jpeg");
  min-height: 60vh;
}
/* End of Hero */

/* Hero */
.defaultHero,
.roomsHero {
  min-height: calc(100vh - 0px);
  background: url("./images/defaultBcg.jpg") center/cover no-repeat;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
}
.roomsHero {
  background-image: url("./images/room-2.jpg");
  min-height: calc(100vh - 0px);
}
.singleRoom {
  background-image: url("./images/room-3.jpeg");
  min-height: calc(100vh - 0px);
}
.roomsError{
  background-image: url("./images/error.jpg");
  min-height: calc(100vh - 0px);
}
.lost{
  font-size: 44px;
  color: yellow;
  text-align: center;
}
/* End of Hero */