.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

/* Banner */
.Banner {
  display: inline-block;
  position: absolute!important;
  background: rgba(0, 0, 0, 0.5)!important;
  color: var(--mainWhite);
  text-align: center;
  text-transform: capitalize;
  letter-spacing: var(--mainSpacing);
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.Banner h1 {
  font-size: 44px!important;
}
.banner div {
  width: 10rem;
  height: 5px;
  background: var(--primaryColor);
  margin: 1.7rem auto;
}
.Banner p {
  font-size: 1.2rem;
  margin-bottom: 2rem;
}
@media screen and (max-width: 576px) {
  .Banner {
    padding: 2rem 3rem!important
  }
  .Banner h1 {
    font-size: 32px!important;
  }
}
@media screen and (min-width: 992px) {
  .Banner {
    padding: 2rem 6rem;
  }
  .Banner h1 {
    font-size: 4rem;
  }
}
/* End of Banner */
.navbar{
  margin-top: 50px;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
